.table {
  max-width: 1100px;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 80%;
}

.table_cell {
  width: 250px;
  margin: auto;
  justify-content: space-between;
  margin-top: 60px;
}

.table_heading {
  line-height: 1.15;
  font-stretch: 24px;
  font-family: 'inter-Bold', bolder;
  margin-bottom: 20px;
}

.table_text {
  line-height: 1.2;
  font-stretch: 18px;
  font-family: 'inter-Regular', normal;
}
