.two-columns {
  max-width: 1100px;
  padding-top: 100px;
  margin: 0px auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns_brif {
  margin: 0px;
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  line-height: 1.2;
  font-family: 'inter-Regular';
  font-weight: normal;
}

.two-columns_main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  margin: 0px;
}

.two-columns_paragraph {
  margin: 0px;
}
