.feynman_title {
  width: 648px;
  padding-top: 100px;
  margin-top: 0px;
  margin-left: auto;
  margin-bottom: 70px;
  margin-right: auto;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
}
